/* ----------------- CSS RESET ----------------- */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ----------------- Global ----------------- */
body
{
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #34495e;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, strong
{
    font-weight: 600;
    color: #2c3e50;
}

#content > *
{
    width: 70%;
    margin: 2rem auto;
}

footer
{
    height: 20vh;
}

a
{
    text-decoration: none;
    color: #f4b642;
    display: inline-block;
}

p
{
    margin: 0.8rem 0 1.6rem 0;
}

li
{
    margin-left: 2rem;
    margin-top: 1rem;
}

h1
{
    font-size: 1.8rem;
    text-align: center;
}

h2, h3
{
    font-size: 1.2rem;
    margin: 1.2rem 0 0.4rem 0;
}

/* ----------------- Header ----------------- */
/* ----------------- ----------------- -----------------*/
h1 > *
{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.logo
{
    width: 8rem;
    vertical-align: middle;
}


/* ----------------- Menus ----------------- */
/* ----------------- ----------------- -----------------*/
.menu,
.submenu
{
    text-align: center;
    z-index: 100;
    margin-bottom: 2rem;
}

.menu input,
.submenu input
{
    display: none
}

.menu span,
.submenu span
{
    display: inline-block;
    cursor: pointer;
    padding: 0.3rem;
    box-sizing: border-box;
    margin: 0.3rem;
    transition: all 0.10s;
}

.submenu span[disabled],
.menu span[disabled]
{
    color: #eaeaea;
    background-color: #c4c4c4;
    cursor: not-allowed;
}

.menu label,
.submenu label
{
    cursor: inherit;
}

.menu span.active,
.submenu span:not(.submenu-trigger):not([disabled]):hover,
.menu span:not([disabled]):hover
{
    background-color: #f4b642;
    color: white;
}

.submenu
{
    position: relative
}

.submenu .submenu-trigger
{
    display: inline-block;
    border-bottom: 1px solid  #f4b642;
    margin: 0;
    width: 100%;
}

.submenu-content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    width: 100%;
}

.submenu:hover .submenu-content
{
    display: block;
}

.submenu .category
{
    display: inline-flex;
    flex-direction: column;
    margin: 0.8rem;
}

.submenu .category h4
{
    border-bottom: 1px solid #f4b642;
}

.source
{
    display: block;
    margin: 1rem 0;
}




/* ----------------- Valuations ----------------- */
/* ----------------- ----------------- ----------------- */
.visualizations
{
    white-space:nowrap;
}

.visualizations > *
{
    display: inline-block;
    height: 80vh;
    vertical-align: top;
    width: 50%;
    white-space: normal;
}

.bar-chart
{
    display: inline-flex;
    flex-flow: column wrap;
}

.bar-chart .bar
{
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    margin-right: 1rem;
}

.bar-chart .bar .identifier
{
    width: 50%;
    display: inline-block;
}

.bar-chart .bar .identifier img
{
    height: 0.6rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3rem;
}

.bar-chart .bar .identifier label
{
    width: 5rem;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
}

.bar-chart .bar .value,
.map-chart      .value
{
    display: inline-block;
    padding: 0.05rem 0.2rem;
    box-sizing: border-box;
    font-size: 0.60rem;
    color: white;
    fill: white;
}

.map-chart .value-holder
{
    stroke: white;
}

.bar-chart .identifier label
{
    font-size: 0.6rem;
    padding-bottom: 0.15rem;
}

.map-chart path
{
    position: absolute;
    z-index: 1;
    stroke: white;
}

.map-chart g,
.bar-chart .bar,
.bar-chart .bar *
{
    cursor: pointer;
}

/* ----------------- Witholding chains ----------------- */
.witholding-chain
{
    margin: 1rem 1rem 2rem 1rem;
    font-size: 0.8rem;
}

.witholding-chain > *
{
    display: inline-block;
}

.witholding-chain .witholder
{
    display: inline-flex;
    flex-flow: column;
    text-align: center;
}

.icon-group
{
    before: '&nbsp;';
    position: relative;
    height: 2rem;
    width: 2rem ;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
}

.icon-group img
{
    vertical-align: middle;
    height: inherit;
    width: inherit ;
    display: inline-block;
    margin: 0 auto;
}

.icon-group img:nth-of-type(2)
{
    position: absolute;
    left: 0;
    top: 0;
}


.witholding-chain .witholded:not(:empty)
{
    background-color: #f4b642;
    color: white;
    padding: 0.05rem 0.2rem;
    text-align: center;
    margin-top: 0.2rem;
}
