
/* ----------------- Global ----------------- */
#content
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #34495e;
    background-color: #fff;
    margin: 0;
}

h1, h2, h3, h4, strong
{
    font-weight: 600;
    color: #2c3e50;
}

#content > *
{
    width: 60%;
    margin: 2rem auto;
}

a
{
    text-decoration: none;
    color: #f4b642;
}

/* ----------------- Header ----------------- */
h1
{
    text-align: center;
}

h1 > *
{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.logo
{
    width: 8rem;
    vertical-align: middle;
}

/* ----------------- Menu ----------------- */
.menu
{
    text-align: center;
}

.menu span input
{
    display: none
}

.menu span,
.submenu span
{
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem;
    box-sizing: border-box;
    margin: 0.5rem;
    transition: all 0.25s;
}

.menu span label
{
    cursor: inherit;
}

.menu span:hover,
.menu span.active
{
    background-color: #f4b642;
    color: white;
}

.submenu-trigger
{
    position: relative;
    display: inline-block;
    border: 1px solid  #f4b642;
}

.submenu-content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.submenu:hover .submenu-content
{
    display: block;
}

/* ----------------- Maps ----------------- */
text
{
    font-size: 0.5rem;
    cursor: pointer;
    color: white;
    fill: white;
    background: #3563ad;
}

rect
{
    stroke: white;
}
