
/* ----------------- Global ----------------- */
#content
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #34495e;
    background-color: #fff;
    margin: 0;
}

h1, h2, h3, h4, strong
{
    font-weight: 600;
    color: #2c3e50;
}

#content > *
{
    width: 80%;
    margin: 2rem auto;
}

a
{
    text-decoration: none;
    color: #f4b642;
}

li
{
    margin-top: 1rem;
}

/* ----------------- Header ----------------- */
h1
{
    text-align: center;
}

h1 > *
{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.logo
{
    width: 8rem;
    vertical-align: middle;
}

/* ----------------- Menu ----------------- */
.menu,
.submenu
{
    text-align: center;
}

.menu input,
.submenu input
{
    display: none
}

.menu span,
.submenu span
{
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem;
    box-sizing: border-box;
    margin: 0.5rem;
    transition: all 0.25s;
}

.menu label,
.submenu label
{
    cursor: inherit;
}

.menu span:hover,
.menu span.active,
.submenu span:not(.submenu-trigger):hover
{
    background-color: #f4b642;
    color: white;
}

.submenu
{
    position: relative;
    margin-bottom: 1rem;
}

.submenu .submenu-trigger
{
    display: inline-block;
    border-bottom: 1px solid  #f4b642;
    margin: 0;
    width: 100%;
}

.submenu-content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    width: 100%;
}

.submenu:hover .submenu-content
{
    display: block;
}

.submenu .category
{
    display: inline-flex;
    flex-direction: column;
}

.submenu .category h3
{
    border-bottom: 1px solid #f4b642;
}

.source
{
    display: block;
    margin: 1rem 0;
}

/* ----------------- Valuations ----------------- */
.visualizations > *
{
    display: inline-block;
    height: 30rem;
    vertical-align: top;
}

.visualizations .map-chart
{
    width: 60%;
}

.visualizations .bar-chart
{
    width: 40%;
    vertical-align: middle;
}

.bar-chart
{
    display: inline-flex;
    flex-flow: column wrap;
}

.bar-chart .bar
{
    font-size: 0.6rem;
    height: 0.6rem;
    margin: 0.4rem;
    display: block;
    width: 50%;
}

.bar-chart .bar .identifier
{
    width: 50%;
    height: 100%;
    display: inline-block;
}

.bar-chart .bar .identifier img
{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.4rem;
}

.bar-chart .bar .identifier label
{
    width: 5rem;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
}

.bar-chart .bar .value
{
    display: inline-block;
    padding: 0.2rem 0.2rem;
    box-sizing: border-box;
    color: white;
}

/* ----------------- Witholding chains ----------------- */
.witholding-chain
{
    margin: 1rem 1rem 2rem 1rem;
    font-size: 0.8rem;
}

.witholding-chain > *
{
    display: inline-block;
}

.witholding-chain .witholder
{
    display: inline-flex;
    flex-flow: column;
    text-align: center;
}

.icon-group
{
    before: '&nbsp;';
    position: relative;
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
}

.icon-group img
{
    vertical-align: middle;
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0 auto;
}

.icon-group img:nth-of-type(2)
{
    position: absolute;
    left: 0;
    top: 0;
}


.witholding-chain .witholded:not(:empty)
{
    background-color: #f4b642;
    color: white;
    padding: 0.05rem 0.2rem;
    text-align: center;
    margin-top: 0.2rem;
}
